// This component is positioned on the page in ../middleware/Theme/layout.less
// Please only directly style DocContents and its contents here.

.DocContents {
	padding: 1.25rem;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);

	ul,
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}
