@import '../middleware/Theme/constants';

.Header {
	display: table;
	width: 100%;
	color: #585858;

	.route-homepage & {
		background-image: linear-gradient(-135deg, #585858 0%, #333333 100%);
		color: @almost-white;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

		.header-nav a {
			color: inherit;
			&:hover {
				color: white;
			}
		}
		.active a {
			color: white;
		}
	}

	.header-logo {
		display: table-cell;
		padding: 1.25rem 2.5rem;

		font-size: 2rem;
		font-weight: 900;
		color: inherit;

		svg {
			height: 3rem;
			margin-right: 1rem;

			vertical-align: middle;
			fill: currentColor;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.header-nav {
		display: table-cell;
		padding: 0 2.5rem;
		text-align: right;
		vertical-align: middle;

		ul,
		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			height: 100%;
		}

		a {
			padding: 2.0rem 1.0rem 1.75rem 1.0rem;
			color: #727272;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			border-bottom: 0.25rem solid transparent;

			&:hover {
				text-decoration: none;
			}
		}

		.active a,
		.active a:hover {
			border-color: @active-color;
			color: #333333;
		}
		a:hover {
			color: #333333;
			border-color: transparent;
		}
	}
}
