@import "constants";

button {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif!important; // Set specifically because browsers try to implement their own font families
}

.Button {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	background-color: @brand-color;
	border: 1px solid @brand-color;
	border-radius: 0;
	box-shadow: 0 2px #333333;
	height: 3.5rem;
	font-weight: 600;
	padding: 1rem;
	box-sizing: border-box;
	width: 100%;

	&,
	& > * {
		font-size: 1rem;

		@media (min-width: @min-medium-screen) {
			font-size: 1.25rem;
		}
	}

	&:hover {
		text-decoration: none;
	}

	&.secondary {
		color: @font-color;
		background-color: @background-color;
		border-color: @border-color;
	}

	&.small {
		font-size: 1rem;
	}

	@media (min-width: @min-medium-screen) {
		display: inline-block;
		width: auto;
	}
}
