// Generic usage
@brand-color: #c82021;
@almost-white: #f5f5f5;
@almost-black: #333333;


// Specific placements
@background-color: @almost-white;
@link-color: @brand-color;
@font-color: @almost-black;
