.Header {
	position: fixed;
	top: 0;
	z-index: 999; // above all the things
}

footer {
	border-top: 1px solid @border-color;
}

.DocContents {
	@media(min-width: @min-medium-screen) {
		width: ~"calc(33% - 2rem )";
		max-width: 240px;
		float: left;

		top: 3rem;
		left: @medium-screen-gutter;
	}

	@media(min-width: @min-large-screen) {
		.DocContents {
			right: auto;

			left: @large-screen-gutter;
		}
	}
}

.rootContent {
	width: 100%;
	max-width: @max-content-width;

	padding: 0rem @small-screen-gutter;
	box-sizing: border-box;

	section {
		padding-top: @small-section-pad;
		padding-bottom: @small-section-pad;
	}

	@media (min-width: @min-medium-screen) {
		width: @medium-content-width;
		padding: 0rem @medium-screen-gutter;
		margin-left: 33%;
	}

	@media (min-width: @min-large-screen) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
