.HeroSection {
	display: table;
	width: 100%;
	height: 30vh;

	.banner-content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.Button {
		border: 0 none;
		box-shadow: 0 2px #333333;

		&.primary {
			color: white;
			background-color: #C82021;
		}

		&.secondary {
			color: #333333;
			background-color: #CCCCCC;
		}
	}
}
