.homepage {
	section {
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid #CCCCCC;

		&:nth-child(2n+1) {
			background-color: #f5f5f5;

			padding: 0rem 1rem;	// this offsets the main layout styles
			margin: 0rem -1rem;
		}
	}
}
