@import '../middleware/Theme/constants.less';

.homepage {
	section {
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid #CCCCCC;

		&:nth-child(2n+1) {
			background-color: #f5f5f5;

			padding: 0rem @small-screen-gutter;	// this offsets the main layout styles
			margin: 0rem -@small-screen-gutter;

			@media (min-width: @min-medium-screen) {
				padding: 0rem @medium-screen-gutter;
				margin: 0rem -@medium-screen-gutter;
			}
		}
	}
}
